@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBD3F8;
    /* background-color: #7A1CAC; */
}

.container-element {
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-rows: 1fr auto;
    gap: 20px;
}

.chat-area-holder {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
}

#chat-area {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-self: center;
    /* height: 100%; */
    gap: 10px;
}

.user {
    align-self: flex-end;
    /* background-color: #CB53C8; */
    background: #7C3AED;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 20px 0 20px 20px;
    max-width: 60%;
}

.bot {
    align-self: flex-start;
    background: #F5F3FF; 
    color: #1F2933;
    padding: 10px;
    border-radius: 0 20px 20px 20px;
    max-width: 60%;
}

.input-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

#user-input {
    width: 60%;
    height: 30px;
    border-radius: 50px;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
}

#submit-btn {
    height: 30px;
    padding: 5px;
}