{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'students/css/dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="sidebar-overlay" id="sidebar-overlay"></div>

    <div class="dashboard">
        <button value={{semester}} hidden id="current-sem">Sem</button>

        <!-- Sidebar -->
        <aside class="sidebar">
            <h2 class="logo">Gradia Vision</h2>

            <nav>
                <a href="#" class="nav-link active">🏠 Dashboard</a>
                <a href="{% url 'upload' %} " class="nav-link">📤 Upload Marklist</a>
                <a href="{% url 'preview' %} " class="nav-link">📄 Preview Results</a>
                <a href="{% url 'chatbot:chatbot_dashboard' %}" class="nav-link">🤖 Mentor Bot</a>
            </nav>

            <a href="{% url 'signout' %}" class="logout">🚪 Logout</a>
        </aside>

        <!-- Main Content -->
        <main class="main-content">

            <!-- Topbar -->
            <div class="topbar">
                <span class="menu-toggle" id="menu-toggle">☰</span>
                <div>
                    <h3>Welcome, {{ name }}</h3>
                    <p>Class: {{ class }}</p>
                </div>
            </div>

            <!-- Notifications -->
            <section class="card">
                <h3>🔔 Notifications</h3>

                <div class="notification-panel">
                    <table>
                        <thead>
                            <tr>
                                <th>Message</th>
                                <th>Sender</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody id="table-body"></tbody>
                    </table>
                </div>
            </section>

            <!-- Graph Section -->
            <section class="card">
                <h3>📊 Performance Overview</h3>

                <div class="filters">
                    <select id="type">
                        <option value="course">Course</option>
                        <option value="sem">Semester</option>
                    </select>

                    <select id="semester">

                    </select>
                </div>

                <div class="graph-wrapper">
                    <canvas id="graph"></canvas>
                </div>
            </section>

        </main>
        <script src="{% static 'students/js/dashboard.js' %}"></script>
    </div>
    


</body>
</html>