{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="{% static 'students/css/upload.css' %}">
</head>
<body>

    <div class="page-header">
        <a href="{% url 'student_dashboard' %}" class="back-btn">← Dashboard</a>
        <h1 class="page-title">📤 Upload Marklist</h1>
    </div>

    <div class="container">

        <form method="post" enctype="multipart/form-data" id="upload">
            {% csrf_token %}
    
            <input type="file" name="pdf" id="file" accept="application/pdf" required hidden> 

            <label for="file" class="file-upload">
                <img src="{% static 'img/upload.png' %}" alt="">
                <span class="upload-hint">Click to browse or drag & drop</span>
                <!-- <span class="upload-sub">PDF files only</span> -->
                <span id="filename"></span>
            </label>
    
            {% if success %}
                <div class="success-msg">{{ success }}</div>
            {% endif %}

            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
        
            {% if not success %}
                <button type="submit" id="upload-btn">Upload</button>
            {% endif %}
        </form>

    </div>
    
    <script src="{% static 'students/js/upload.js' %}"></script>
</body>
</html>