{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Marking</title>
    <link rel="stylesheet" href="{% static 'attendance/css/attendance_marking.css' %}">
</head>
<body>
    <div class="container">

        {% if course %}
            <div id="data-holder" data-course={{course}} data-year={{year}} data-subjects={{subjects}}></div>
        {% endif %}

        <div class="filter-bar">
            <span class="filter-label">Department</span>
            <select name="department" id="department">
                <option value="Commerce" >Department of Commerce</option>
                <option value="Computer Science" selected>Department of Computer Science</option>
                <option value="History">Department of History</option>
            </select>

            <span class="filter-label">Course</span>
            <select name="course" id="course"></select>

            <span class="filter-label">Year</span>
            <select name="year" id="year">
                
            </select>
            <button name="updateFilter" id="updateFilter">Update Filter</button>
        </div>

        Date:
        <input type="date" id="date" name="date">

        Subject: 
        <select name="subject" id="subject">

        </select>

        Hour:
        <input type="number" id="hour" name="hour" min="1" max="5" value="1">

        {% if message %}
            {{message}}
        {% else %}
            <table>
                <tr>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Present</th>
                </tr>
                
                <tbody id="students">
                    
                </tbody>
            </table>
        {% endif %}

        <button name="submitBtn" id="submitBtn" >Update Attendance</button>

    </div>
    <script src="{% static 'attendance/js/attendance_marking.js' %}"></script>
</body>
</html>