
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

:root{
--primary:#7A1CAC;
--light:#EBD3F8;
}

*{margin:0;padding:0;box-sizing:border-box;}

body{
min-height:100vh;
/* font-family:Poppins,sans-serif; */
background:linear-gradient(135deg,#EBD3F8,#f7ecff);
}

.container{
min-height:100vh;
display:grid;
grid-template-columns:1fr 1fr;
}


.container-image{
display:flex;
align-items:center;
justify-content:center;
padding:40px;
}

.container-image img{
max-width:90%;
}

.container-element{
display:flex;
align-items:center;
justify-content:center;
}

form{
width:100%;
max-width:460px;
max-height:80vh;
overflow-y:auto;
background:rgba(255,255,255,.35);
backdrop-filter:blur(15px);
padding:35px;
border-radius:25px;
box-shadow:0 30px 60px rgba(0,0,0,.1);

display:grid;
grid-template-columns:1fr 1fr;
gap:14px;
}

.form-title{
grid-column:span 2;
text-align:center;
color:var(--primary);
margin-bottom:5px;
}

form button,
form .error{
grid-column:span 2;
}

input,select{
width:100%;
padding:11px 14px;
border-radius:10px;
border:1px solid #ddd;
font-size:14px;
}

input:focus,select:focus{
outline:none;
border-color:var(--primary);
box-shadow:0 0 0 3px rgba(122,28,172,.15);
}


.error{
color:crimson;
font-size:12px;
}


#submit-button{
margin-top:10px;
padding:13px;
border:none;
border-radius:30px;
background:var(--primary);
color:white;
cursor:pointer;
transition:.3s;
}

#submit-button:hover{
transform:translateY(-2px);
box-shadow:0 10px 25px rgba(122,28,172,.4);
}


form::-webkit-scrollbar{width:6px;}
form::-webkit-scrollbar-thumb{
background:#7A1CAC;
border-radius:10px;
}

form{
scrollbar-width:thin;
scrollbar-color:#7A1CAC transparent;
}

/* RESPONSIVE */

@media(max-width:900px){

.container{
grid-template-columns:1fr;
}

.container-image{
order:-1;
padding:30px;
}

form{
grid-template-columns:1fr;
max-height:none;
margin:40px 20px;
}

.form-title{
grid-column:span 1;
}

form button,
form .error{
grid-column:span 1;
}
}

@media(max-width:480px){

form{
padding:25px 20px;
}

.form-title{
font-size:20px;
}
}