{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static "accounts/css/role.css" %}">
</head>
<body>

    <div class="container">

        <div class="container-image" id="container-image">
            <img src="{% static "accounts/img/three-characters.png" %}" alt="Characters">
        </div>

        <div class="container-element">
            <form method="post" >
                {% csrf_token %}
                
                <label>
                    <input type="radio" name="role" value="student" checked>
                    Student
                </label>
                <label>
                    <input type="radio" name="role" value="tutor">
                    Tutor
                </label>
                <!-- Admin<input type="radio" name="role" value="admin"> <br> -->
                 
                <button type="submit" id="submit-button">Submit</button>
            </form>

        </div>

    </div>
    
</body>
</html>