@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    align-items: center;
    background-color: #EBD3F8;
    gap: 30px;
}

.topbar {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #7A1CAC;
    color: white;
    margin: 20px 0 0 0;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.topbar span {
    margin: 10px;
}

.topbar a img {
    width: 40px;
    margin: 0 15px 0 0 ;
}

#form {
    width: 100%;
    height: 100%;
}
