@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBD3F8;
}

#upload {
    background-color: #7A1CAC;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.file-upload {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.file-upload img {
    width: 100px;
}

#filename {
    font-size: 25px;
}

#upload-btn {
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.error {
    color: white;
}