{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'tutors/css/view_students.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div id="data-holder" data-course={{course}} data-year={{year}}></div>

        <div class="filter-bar">
            <span class="filter-label">Department</span>
            <select name="department" id="department">
                <option value="Commerce" >Department of Commerce</option>
                <option value="Computer Science" selected>Department of Computer Science</option>
                <option value="History">Department of History</option>
            </select>
            <span class="filter-label">Course</span>
            <select name="course" id="course"></select>
            <span class="filter-label">Year</span>
            <select name="year" id="year">
                
            </select>
            <button name="updateFilter" id="updateFilter">Update Filter</button>
        </div>

        <h2 id="students-heading">Students</h2>

        <div id="students">
            {% for student in data %}
                <div class="student" data-email={{student.email}}>
                    <div class="studentName"> {{student.name}} </div>
                    <div class="studentRegno"> {{student.regno}} </div>
                </div>
            {% endfor %}
        </div>
        <div class="modal-overlay" id="card-overlay">
        <div id="studentCard">
            <div class="card-header">
            <div class="card-info">
                <div id="studentCardName"></div>
                <div id="studentCardRegno"></div>
                <div id="studentCardEmail"></div>
                <div id="studentCardAadhaar"></div>
            </div>
            <div id="close">✕</div>
            </div>
            <div class="card-divider"></div>
            <div class="card-filters">
            <select id="type">
                <option value="course">Course</option>
                <option value="sem">Semester</option>
            </select>
            <select id="semester"></select>
            </div>
            <div class="graph-wrapper">
                <canvas id="graph"></canvas>
            </div>
        </div>
        </div>

    </div>

    <script src="{% static "tutors/js/view_students.js" %}"></script>

</body>