<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}

    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}

    {{ form.non_field_errors }}

    {{ form.errors }}

    <button type="submit">Change Password</button>
    </form>
</body>
</html>