@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EBD3F8;
}

.topbar {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #7A1CAC;
    color: white;
    margin: 20px 0 0 0;
    border-radius: 30px;
    animation: movedown 1s ease forwards;
}

.topbar-text {
    font-weight: 700;
    font-size: 25px;
    margin: 10px 10px 10px 20px;
    letter-spacing: 5px;
}

.topbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 10px 0 0;
}

.topbar-button a {
    text-decoration: none;
    background-color: #fff;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    font-weight: 600;
    border-radius: 20px;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 100px;
    font-weight: 900;
    color: #7A1CAC;
    animation: moveup 1s ease forwards;
}

@keyframes moveup {
    from {
        transform: translateY(150px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes movedown {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}