@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #EBD3F8;
}

.container-element {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBD3F8;
}

#submit-button {
    background-color: #7A1CAC;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

#submit-button:hover {
    box-shadow: 0 0 2px rgba(122, 28, 172, 1), 0 0 2px rgba(122, 28, 172, 0.8), 0 0 10px rgba(122, 28, 172, 0.6), 0 0 15px rgba(122, 28, 172, 0.4);
}

.container-image {
    background-color: #7A1CAC;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    animation: slideLeft 0.3s linear forwards;
}

.container-image img {
    width: 30rem;
    margin: 0px 10px 0px 10px;
}

@keyframes glow {
    /* 0%, 100% {

    } */
    50% {
        box-shadow: 0 0 2px rgba(122, 28, 172, 1), 0 0 2px rgba(122, 28, 172, 0.8), 0 0 10px rgba(122, 28, 172, 0.6), 0 0 15px rgba(122, 28, 172, 0.4);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(200%);
    }
}