@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
:root {
    --primary:#7A1CAC;
    --light:#EBD3F8;
    --white:#fff;
    --gray:#666;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#EBD3F8,#f7ecff);
}

.container{
    min-height:100vh;
    display:grid;
    grid-template-columns:1fr 1fr;
}

.container-image{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:40px;
}

.container-image img{
    max-width:90%;
}

.container-element{
    display:flex;
    align-items:center;
    justify-content:center;
}

form{
    width:100%;
    max-width:380px;
    background:rgba(255,255,255,.35);
    backdrop-filter:blur(15px);
    padding:50px 40px;
    border-radius:25px;
    box-shadow:0 30px 60px rgba(0,0,0,.1);
}

form label{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
    cursor:pointer;
    color:#444;
    font-size:15px;
}

input[type="radio"]{
    accent-color:var(--primary);
    transform:scale(1.2);
}


#submit-button{
    width:100%;
    margin-top:25px;
    padding:13px;
    border:none;
    border-radius:30px;
    background:var(--primary);
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:.3s;
}

#submit-button:hover{
    transform:translateY(-2px);
    box-shadow:0 10px 25px rgba(122,28,172,.4);
}


@media(max-width:900px){

    .container{
        grid-template-columns:1fr;
    }

    .container-image{
        order:-1;
        padding-top:60px;
    }

    form{
        margin:40px 20px;
    }
}

@media(max-width:480px){

    form{
        padding:35px 25px;
    }
}